
<script src="https://code.jquery.com/ 
jquery-3.2.1.slim.min.js" 
integrity="sha384-KJ302DKtIkVYIK3UENZmM7KCkRr/rE9/
 Qpg6aAZGJWFDMVNA/GpGFF93hXpG5KkN" 
crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/ bootstrap.min.js" 
integrity="sha384-JZR65pejh4U@2d8j0t6vLEHfe/
JQGiRR5QQx5fFWpi1MquVdAyjUar5+76PVCmYL" 
crossorigin="anonymous"></script>

</body>
</html>
